<h1>Eat Dem Burgerz!</h1>

<img src="/assets/img/burger.png" alt="Dis Is Burger" />

<div id="eatThese">
<h2>Om Nom Nom Nom!</h2>
<h4>You better eat these burgerz cause that's what you want!</h4>
<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burgerz eaten=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id="makeThese">
<h2>Gimme Moar!</h2>
<h4>You better make more burgerz cause, you know you want to!</h4>
<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burgerz eaten=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<h2>Add New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
